:root{
    --azul-meio: hsl(210deg, 100%, 80%); 
    --azul-colorido:#3685B5;
    --azul-escuro: hsl(240deg, 100%, 8%);
    --azul-fraco: #89AAE6;
    --rosa: #f3a8df;
 
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    font-family: 'Jost', sans-serif;
    font-weight: bolder;
}